<script>

    function hideSortMethod()
    {
        $('#sortMethod').hide();
        $('#sortMethodLabel').hide();
    }

    function showSortMethod()
    {
        $('#sortMethod').show();
        $('#sortMethodLabel').show();
    }

    function disableFilterType(isDisabled)
    {
        if (isDisabled) {
            $('#filterType').attr('disabled', 'disabled');
        } else {
            $('#filterType').removeAttr('disabled')
        }
    }

    function disableFilterValue(isDisabled)
    {
        if (isDisabled) {
            $('#filterValue').attr('disabled', 'disabled');
        } else {
            $('#filterValue').removeAttr('disabled')
        }
    }

    function setOptionsForFilterType(filterFieldVal)
    {
        var filterOptionLike =  $("#filterType option[value='like']");
        var filterOptionLess =  $("#filterType option[value='less']");
        var filterOptionMore =  $("#filterType option[value='more']");

        if('price' === filterFieldVal) {
            filterOptionLess.show();
            filterOptionMore.show();
            filterOptionLike.hide();
        } else if('' !== filterFieldVal) {
            filterOptionLess.hide();
            filterOptionMore.hide();
            filterOptionLike.show();
        } else {
            filterOptionLess.show();
            filterOptionMore.show();
            filterOptionLike.show();
        }
    }

    $(function() {

        if ('' == $('#sortField').val()) {
            hideSortMethod();
        }

        disableFilterType('' == $('#filterField').val());
        disableFilterValue('' == $('#filterField').val())
        setOptionsForFilterType($('#filterField').val())

        $('#filterField').on('change', function() {

            setOptionsForFilterType($(this).val());

            var isEmptyVal = '' === $(this).val();
            disableFilterType(isEmptyVal);
            disableFilterValue(isEmptyVal);
            $('#filterType').val('');
            $('#filterValue').val('');
        });

        $('#sortField').on('change', function() {
            if('' === $(this).val()) {
                hideSortMethod();
            } else {
                showSortMethod();
            }
        });
    });
</script>
<div style="margin: 0 auto; width: 50%; display: block;" class="center">
    <form method="POST" action="/" style="margin: 0; padding: 0;">
        <div class="in_line">
            <label for="dataSource">Data Source:</label>
            <select id="dataSource" name="dataSource">
                <option value="">Choose data source:</option>

                <option {{ params.dataSource == 'php' ? 'selected' : '' }} value="php">
                PHP
                </option>
                <option {{ params.dataSource == 'xml' ? 'selected' : '' }} value="xml">
                XML
                </option>
                <option {{ params.dataSource == 'json' ? 'selected' : '' }} value="json">
                JSON
                </option>
            </select>
            {% if errors.dataSource %}
            <ul style="color:red">
                <li>{{errors.dataSource|e}}</li>
            </ul>
            {% endif %}
        </div>

        <div class="in_line">
            <label for="dataGroup">Data Group:</label>
            <select id="dataGroup" name="dataGroup">
                <option value="">All</option>

                <option {{ params.dataGroup == 'world' ? 'selected' : '' }} value="world">
                World
                </option>
                <option {{ params.dataGroup == 'europe' ? 'selected' : '' }} value="europe">
                Europe
                </option>
            </select>
            {% if errors.dataGroup %}
                <ul style="color:red">
                    <li>{{errors.dataGroup|e}}</li>
                </ul>
            {% endif %}
        </div>
        <div style="clear: both"></div>
        <div class="in_line">
            <label for="filterField">Field:</label>
            <select id="filterField" name="filterField">
                <option value="">Choose filter field:</option>

                <option {{ params.filterField == 'name' ? 'selected' : '' }} value="name">
                Name
                </option>
                <option {{ params.filterField == 'code' ? 'selected' : '' }} value="code">
                Code
                </option>
                <option {{ params.filterField == 'price' ? 'selected' : '' }} value="price">
                Price
                </option>
            </select>
            {% if errors.filterField %}
                <ul style="color:red">
                    <li>{{errors.filterField|e}}</li>
                </ul>
            {% endif %}
        </div>

        <div class="in_line">
            <label for="filterType">Type:</label>
            <select id="filterType" name="filterType">
                <option  value="">Choose filter type:</option>

                <option {{ params.filterType == 'more' ? 'selected' : '' }} value="more">
                >
                </option>
                <option {{ params.filterType == 'less' ? 'selected' : '' }} value="less">
                <
                </option>
                <option {{ params.filterType == 'like' ? 'selected' : '' }} value="like">
                Like
                </option>
            </select>
            {% if errors.filterType %}
                <ul style="color:red">
                    <li>{{errors.filterType|e}}</li>
                </ul>
            {% endif %}
        </div>

        <div class="in_line">
            <label for="filterValue">Value:</label>
            <input type="text" id="filterValue" name="filterValue" value="{{ params.filterValue ? params.filterValue : '' }}">
            {% if errors.filterValue %}
                <ul style="color:red">
                    <li>{{errors.filterValue|e}}</li>
                </ul>
            {% endif %}
        </div>
        <div style="clear: both"></div>
        <div class="in_line">
            <label for="sortField">Sort field:</label>
            <select id="sortField" name="sortField">
                <option value="">Choose filter field:</option>

                <option {{ params.sortField == 'name' ? 'selected' : '' }} value="name">
                Name
                </option>
                <option {{ params.sortField == 'code' ? 'selected' : '' }} value="code">
                Code
                </option>
                <option {{ params.sortField == 'price' ? 'selected' : '' }} value="price">
                Price
                </option>
            </select>
            {% if errors.sortField %}
                <ul style="color:red">
                    <li>{{errors.sortField|e}}</li>
                </ul>
            {% endif %}
        </div>

        <div class="in_line">
            <label id="sortMethodLabel" for="sortMethod">Sort method:</label>
            <select id="sortMethod" name="sortMethod">
                <option {{ params.sortMethod == 'asc'  ? 'selected' : '' }} value="asc">
                ASC
                </option>
                <option {{ params.sortMethod == 'desc' ? 'selected' : '' }} value="desc">
                DESC
                </option>
            </select>
            {% if errors.sortMethod %}
                <ul style="color:red">
                    <li>{{errors.sortMethod|e}}</li>
                </ul>
            {% endif %}
        </div>
        <div class="center" style="width: 100%; float:left;" >
            <input id="submit" type="submit" value="Filter">
        </div>
    </form>
</div>