<!DOCTYPE html>
<html>
<head>
    <title>Test task Krivous</title>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
    <body>
        <div>
            {% include 'partials/form.phtml' %}

            <fieldset style="width: 50%; margin:0 auto;">
                <legend>Currencies</legend>
                <table class="table table-bordered table-striped" align="center">
                    <thead>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Price</th>
                    <th>Group</th>
                    </thead>
                    <tbody>

                    {% for currency in currencies %}
                    <tr>
                        <td>{{ currency.name|e }}</td>
                        <td>{{ currency.code|e }}</td>
                        <td>{{ currency.price|e }}</td>
                        <td>{{ currency.group|e }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="4">No data for your filter!</td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </fieldset>
        </div>
    </body>
</html>